@import '~@/styles/parameters.less';

@light: 300;    //细体
@regular: 400;  //常规
@medium: 500;   //中黑
// @semibold: 600;
@bold: 600;     //中粗

.noWrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.center {
  text-align: center;
}

.inherit {
  text-align: inherit;
}

.justify {
  text-align: justify;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}


.font-size-calc(@calc) {
  font-size: @font-size + @calc;
  line-height: @font-size + @calc + 8px;
};

.common {
  &-link {
    display: inline-flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &:hover {
      font-weight: @medium;
      color: @text-primary;
    }

    &:global(.active) {
      font-weight: @medium;
      color: @text-primary;
    }

    &::after {
      content: attr(data-title) / "";
      height: 0;
      visibility: hidden;
      overflow: hidden;
      user-select: none;
      pointer-events: none;
      font-weight: @medium;
    }
  }

  &-tab {
    display: inline-flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .active {
      font-weight: @medium;
      color: @text-primary;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2px;
        border-radius: 1px;
        background-color: @text-primary;
      }
    }

    &:hover {
      .active();
    }

    &:global(.tabActive) {
      .active();
    }
  }

  &-menu {
    cursor: pointer;
    border-radius: 6px;
    padding: 5px 30px;

    &:hover {
      background-color: @grey-3;
      color: @text-color;
    }

    &:global(.active) {
      background-color: @text-color;
      color: @text-color;
    }
  }

  &-icon {
    display: inline-flex;
    align-items: center;
  }

  &-flex {
    display: flex;
  }

  &-iconButton {
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    :global {
      svg {
        z-index: 1;
      }
    }

    &::after {
      background-color: @grey-2;
      position: absolute;
      content: "";
      left: -6px;
      top: -6px;
      width: calc(100% + 12px);
      height: calc(100% + 12px);
      border-radius: 7px;
      visibility: hidden;
      z-index: 0;
    }

    &:hover {
      color: @text-primary;

      &::after {
        visibility: visible;
      }
    }
  }

  &-menu-item {
    display: flex;
    align-items: center;
  }
}

.headline1 {
  font-weight: @bold;
  color: @text-primary;
  .font-size-calc(18px);
  .common();

  &-secondary {
    color: @text-color;
    font-weight: @regular;
  }
}

.headline2 {
  font-weight: @bold;
  color: @text-primary;
  .font-size-calc(10px);
  .common();

  &-secondary {
    color: @text-color;
    font-weight: @regular;
  }
}

.headline3 {
  font-weight: @bold;
  color: @text-primary;
  .font-size-calc(4px);
  .common();

  &-secondary {
    color: @text-color;
    font-weight: @regular;
  }
}

.headline4 {
  font-weight: @bold;
  color: @text-primary;
  .font-size-calc(2px);
  .common();

  &-secondary {
    color: @text-color;
    font-weight: @regular;
  }
}

.title {
  font-weight: @regular;
  color: @text-primary;
  .font-size-calc(0);
  .common();

  &-secondary {
    color: @text-color;
  }

  &-strong {
    font-weight: @medium;
  }
}

.body {
  font-weight: @regular;
  .font-size-calc(0);
  .common();
  color: @text-color;

  &-secondary {
    color: @text-color-secondary;
  }

  &-strong {
    font-weight: @medium;
  }
}


.body-small {
  font-weight: @regular;
  color: @text-color;
  .font-size-calc(-2px);
  .common();

  &-secondary {
    color: @text-color-secondary;
  }
}

.disable {
  font-weight: @regular;
  color: @text-color-disable;
  .font-size-calc(0);
  .common();
}

.caption {
  font-weight: @regular;
  color: @text-color-secondary;
  .font-size-calc(0);
  .common();

  &-secondary {
    color: @text-color-disable;
  }
}

.caption-small {
  font-weight: @regular;
  color: @text-color-secondary;
  .font-size-calc(-2px);
  .common();

  &-secondary {
    color: @text-color-disable;
  }
}

.primary-button-default {
  .body();
  .common();

  color: @white;
}

.primary-button-strong {
  .primary-button-default();
  .common();

  font-weight: @medium;

  &-ghost {
    color: @grey-6;
  }
}

.secondary-button-default {
  .body();
}

.disable-button-default {
  .body();

  color: @text-color-disable;
}

.link {
  .body();

  cursor: pointer;
  color: @link-color;

  &:hover {
    color: @link-color;
  }
}

.linkBtn {
  .body();

  color: @text-color-disable;
  padding: 4.5px;
  display: flex;
  align-items: center;
  border-radius: 6px;

  &:hover {
    background-color: @bg-primary-hover;
    color: @grey-9;
  }
}

.yuque-green-1 {
  color: @yuque-green-1;
}

.yuque-green-2 {
  color: @yuque-green-2;
}

.yuque-green-3 {
  color: @yuque-green-3;
}

.yuque-green-4 {
  color: @yuque-green-4;
}

.yuque-green-5 {
  color: @yuque-green-5;
}

.yuque-green-6 {
  color: @yuque-green-6;
}

.yuque-green-7 {
  color: @yuque-green-7;
}

.yuque-green-8 {
  color: @yuque-green-8;
}

.yuque-green-9 {
  color: @yuque-green-9;
}

.yuque-grey-1 {
  color: @grey-1;
}

.yuque-grey-2 {
  color: @grey-2;
}

.yuque-grey-3 {
  color: @grey-3;
}

.yuque-grey-4 {
  color: @grey-4;
}

.yuque-grey-5 {
  color: @grey-5;
}

.yuque-grey-6 {
  color: @grey-6;
}

.yuque-grey-7 {
  color: @grey-7;
}

.yuque-grey-8 {
  color: @grey-8;
}

.yuque-grey-9 {
  color: @grey-9;
}

.blue-1 {
  color: @blue-1;
}

.blue-2 {
  color: @blue-2;
}

.blue-3 {
  color: @blue-3;
}

.blue-4 {
  color: @blue-4;
}

.blue-5 {
  color: @blue-5;
}

.blue-6 {
  color: @blue-6;
}

.blue-7 {
  color: @blue-7;
}

.blue-8 {
  color: @blue-8;
}

.blue-9 {
  color: @blue-9;
}

.organge-1 {
  color: @orange-1;
}

.organge-2 {
  color: @orange-2;
}

.organge-3 {
  color: @orange-3;
}

.organge-4 {
  color: @orange-4;
}

.organge-5 {
  color: @orange-5;
}

.organge-6 {
  color: @orange-6;
}

.organge-7 {
  color: @orange-7;
}

.organge-8 {
  color: @orange-8;
}

.organge-9 {
  color: @orange-9;
}

.yellow-1 {
  color: @yellow-1;
}

.yellow-2 {
  color: @yellow-2;
}

.yellow-3 {
  color: @yellow-3;
}

.yellow-4 {
  color: @yellow-4;
}

.yellow-5 {
  color: @yellow-5;
}

.yellow-6 {
  color: @yellow-6;
}

.yellow-7 {
  color: @yellow-7;
}

.yellow-8 {
  color: @yellow-8;
}

.yellow-9 {
  color: @yellow-9;
}

.red-1 {
  color: @red-1;
}

.red-2 {
  color: @red-2;
}

.red-3 {
  color: @red-3;
}

.red-4 {
  color: @red-4;
}

.red-5 {
  color: @red-5;
}

.red-6 {
  color: @red-6;
}

.red-7 {
  color: @red-7;
}

.red-8 {
  color: @red-8;
}

.red-9 {
  color: @red-9;
}

.magenta-1 {
  color: @magenta-1;
}

.magenta-2 {
  color: @magenta-2;
}

.magenta-3 {
  color: @magenta-3;
}

.magenta-4 {
  color: @magenta-4;
}

.magenta-5 {
  color: @magenta-5;
}

.magenta-6 {
  color: @magenta-6;
}

.magenta-7 {
  color: @magenta-7;
}

.magenta-8 {
  color: @magenta-8;
}

.magenta-9 {
  color: @magenta-9;
}

.purple-1 {
  color: @purple-1;
}

.purple-2 {
  color: @purple-2;
}

.purple-3 {
  color: @purple-3;
}

.purple-4 {
  color: @purple-4;
}

.purple-5 {
  color: @purple-5;
}

.purple-6 {
  color: @purple-6;
}

.purple-7 {
  color: @purple-7;
}

.purple-8 {
  color: @purple-8;
}

.purple-9 {
  color: @purple-9;
}

.cyan-1 {
  color: @cyan-1;
}

.cyan-2 {
  color: @cyan-2;
}

.cyan-3 {
  color: @cyan-3;
}

.cyan-4 {
  color: @cyan-4;
}

.cyan-5 {
  color: @cyan-5;
}

.cyan-6 {
  color: @cyan-6;
}

.cyan-7 {
  color: @cyan-7;
}

.cyan-8 {
  color: @cyan-8;
}

.cyan-9 {
  color: @cyan-9;
}

.pea-green-1 {
  color: @pea-green-1;
}

.pea-green-2 {
  color: @pea-green-2;
}

.pea-green-3 {
  color: @pea-green-3;
}

.pea-green-4 {
  color: @pea-green-4;
}

.pea-green-5 {
  color: @pea-green-5;
}

.pea-green-6 {
  color: @pea-green-6;
}

.pea-green-7 {
  color: @pea-green-7;
}

.pea-green-8 {
  color: @pea-green-8;
}

.pea-green-9 {
  color: @pea-green-9;
}

.white {
  color: @white;
}

.yuque-color-text-disable {
  color: @text-color-disable;
}

.flexFix {
  width: 0;
  flex: 1;
}
